<!DOCTYPE html>
<head>
  <title>Pusher Test</title>
  <h1>Hello, Rails!asfdasdf</h1>
  <script src="http://js.pusherapp.com/1.8/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) window.console.log(message);
    };

    // Flash fallback logging - don't include this in production
    WEB_SOCKET_DEBUG = true;

    var pusher = new Pusher('bb0c9422384181b6703e');
    var channel = pusher.subscribe('test_channel');
    channel.bind('my_event', function(data) {
      alert(data);
    });
  </script>
</head>